/* Алексей Каримов */

@media (max-width: 1000px){
    #miniNav {
        width: 100%;
    }
    
    #miniNav ul {
        width: 100%;
    }

    main section {
        width: 100%;
    }

    .card {
        height: auto;
    }

    .cardInfo p {
        font-size: 15px;
    }

    .cardPrice button {
        font-size: 5px;
    }
}