body {
	background-color: Maroon;
}

th {
	padding-left: 10px;
	padding-right: 10px;
}

a {
	color: white;
}

h1 {
	text-align: center;
	letter-spacing: 3px;
	font-family: "Book antiqua";
	color: snow;
}

h2 {
	font-family: Cambia;
	letter-spacing: 3px;
	text-decoration: underline;
	color: snow;
	text-align: center;
}

h3{
	font-family: Cambia;
	color: snow;
	margin-left: 80px;
}

p {
	line-height: 25px;
	text-align: justify;
	font-family: "Courier new";
	font-size: 18px;
	background-color: Brown;
	color: ghostwhite;
	padding: 10px 200px;
	margin: 0px 50px;
}

img {
	border: 4px solid snow;
}

.imageTable {
	margin-left: 300px; 
}

.imageTable td {
	padding-right: 10px;
}

.mapImage {
	width: 642px;
	margin: 0px auto;
}

.imageParagraph {
	background-color: Maroon;
	text-align: center;
	margin: 0px auto;
	width: 750px;
}

.outerList {
	margin-left: 400px;
}