html {
	scroll-behavior: smooth;
}

body {
	background: linear-gradient(0deg, rgba(255,198,105,1) 36%, rgba(255,232,207,1) 80%);
	color: white;
}

.wrapper {
	width: 1380px;
	margin: 0px auto;
}

header {
	background: linear-gradient(90deg, rgba(210,109,0,1) 10%, rgba(255,255,255,1) 35%, rgba(210,109,0,1) 50%, rgba(255,255,255,1) 65%, rgba(210,109,0,1) 90%);
	width: 1220px;
	text-align: center;
	margin: 0px auto;
	overflow: hidden;

	border-top: 8px solid #5e3707;
	border-left: 8px solid #5e3707;
	border-bottom: 8px solid #a8650e;
	border-right: 8px solid #a8650e;
	border-radius: 40px;
}

h1 {
	text-shadow: 3px 3px 0px #FF0000, 6px 6px 0px #00FF00, 9px 9px 0px #0000FF, -3px -3px 0px #0000AD;
	font-size: 120px;
	position: relative;
	transform: rotate(-20deg);
	margin-top: 110px;
}

header div {
	margin-top: 150px;
	margin-bottom: 50px;
}

header img {
	border-radius: 100%;
	margin: 0px 15px;
	box-shadow: 0px 0px 0px 5px #FF9714, 0px 0px 0px 10px #CC7910, 0px 0px 0px 15px #87500B;
}

.firstSection {
	width: 1100px;
	background: rgba(255, 255, 255, 30%);
	padding: 20px;
	margin: 0px auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border: none;
	border-radius: 0px;
}

.firstArticle {
	background-color: rgb(255, 255, 255);
	padding: 10px;	
	font-style: italic;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: black;
	text-align: justify;
}

li::before {
	margin-left: 20px;
}

li::marker {
	list-style-type: none; 
	content: url("Images/setting.png");
	margin-top: 5px;
}

section {
	width: 1100px;
	border-top: 8px solid #5e3707;
	border-left: 8px solid #5e3707;
	border-bottom: 8px solid #a8650e;
	border-right: 8px solid #a8650e;
	border-radius: 20px;

	margin: 0px auto;
	margin-bottom: 20px;
	padding: 10px;
	background: linear-gradient(-90deg, rgba(171,107,30,1) 0%, rgba(244,182,107,1) 50%, rgba(171,107,30,1) 100%);;
}

article {
	background-color: rgb(207, 83, 0);
	padding: 20px;
	font-family: 'Neucha', cursive;
	font-size: 20px;
	text-align: justify;
	overflow: hidden;
}

h3 {
	background-color: rgba(255,198,105,1);
	padding: 10px 5px;
	width: 800px;
	font-size: 35px;
	font-family: 'Play', sans-serif;
	margin-left: 50px;
	
	border-width: 6px;
  	border-style: solid;
	border-image: linear-gradient(to right, rgba(171,30,30,1), rgba(255,141,0,1)) 1;
	text-shadow: 4px 2px 2px #AB1E1E, -4px -2px 2px #FF8D00;
}

.classificationSection {
	width: 900px;
}

.classification {
	background-color: white;
	color: #FF9714;
	font-family: 'Balsamiq Sans', cursive;
	line-height: 30px;
	padding: 10px;
	width: 800px;
	margin: 0px auto;
	margin-bottom: 40px;
	box-shadow: 5px 5px 4px 10px #FFF605, 10px 10px 10px 10px #2B2CFF, 15px 15px 0px 20px #AB1E1E;
}

.imgSizer {
	width: 200px;
	margin: 0px 10px;
}

.carImg {
	width: 300px;
}

.shagohodImg {
	width: 300px;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.clearFloat {
	clear: both;
}

.imgShape1 {
	border-top: 4px solid #FF8D00;
	border-left: 4px solid #FF8D00;
	border-right: 4px solid #a8650e;
	border-bottom: 4px solid #a8650e;
	border-radius: 30px;
}

.imgShape2 {
	border-top: 4px solid #FF0000;
	border-right: 4px solid #FF0000;
	border-bottom: 4px solid #AB1E1E;
	border-left: 4px solid #AB1E1E;

	border-bottom-left-radius: 60px;
	border-bottom-right-radius: 60px;
	border-top-right-radius: 60px;
	border-top-left-radius: 20px;
}

.babockaMain {
	border-radius: 100%;
	border: 5px solid yellow;
	width:1000px;
	/* padding-left: 300px; */
}

.babockaMain p {
	text-align: center;
}

.babocka1 {
	border-bottom-left-radius: 100%;
	border-top-right-radius: 100%;
}

.babocka2 {
	border-bottom-right-radius: 100%;
	border-top-left-radius: 100%;
}

.bottomImages {
	overflow: hidden;
	width: 1300px;
	padding: 40px 0px;
}

.mirror {
	transform: rotate(25deg);
	margin-left: 130px;
	width: 150px;
	border: 3px solid white;
	box-shadow: 10px 10px 17px 5px #FFAF29;
}

.mirrored {
	transform: rotate(-155deg);
	margin-left: 130px;
	width: 150px;
	border: 3px solid white;
	opacity: 30%;
}

.firstRow {
	margin-left: 40px;
	width: fit-content;
}

.secondRow {
	margin-left: -40px;
	width: fit-content;
}

.navigation {
	position: fixed;
	width: 24px;
	top: 850px;
	left: 1870px;
}

.upArrow {
	margin-bottom: 20px;
}