img {
    width: 32px;
}

.wrapper {
    width: 1440px;
    margin: 0px auto;
}

header {
    width: 100%;
}

header p {
    float: right;
}

.navigation {
    width: 15.27777777777778%; /* 220/1440 */
    background-color: red;
}

main {
    width: 57.63888888888889%; /* 830/1440 */
    float: left;
    background-color: green;
}

main div {
    width: 100%;
    background-color: yellow;
}

main section {
    width: 45.90361445783133%; /* 381/830 */
    margin-left: 2.891566265060241%; /* 24 / 830 */
    float: left;
    background-color: rebeccapurple;
}

article {
    width: 100%;
}

.bottomParagraph {
    width: 94,21686746987952; /* 782 / 830 */
    background-color: blue;
}

.news {
    width: 23,75%;
    float: left;
}

footer {
    width: 100%;
}