.wrapper {
    width: 75%;      /* 1440/1920 */
    margin: auto;
    font-family: Arial;
}

header {
    width: 100%;  /* 1440 */
    height: 100px;
}

header img {
    float: left;
}

header p {
    float: right;
}

.navigation {
    width: 15.27777777777778%; /* 220/1440 */
    height: 353px;
    float: left;
}

main {
    width: 57.63888888888889%; /* 830/1440 */
    height: 752px;
    float: left;
}

h3 {
    background-color: #009D81;
    text-align: center;
    color: #ffffff;
}

section {
    width: 45.66265060240964%;
    float: left;
}

article {
    width: 100%;
    height: 221px;

    float: left;
    text-align: justify;
}

.mainArticle {
    /* margin-right: 2.891566265060241%; */
    margin-left: 2.891566265060241%;
}

.bottomArticle {
    width: 200%;
}

p img {
    width: 32px;
    margin-right: 10px;
    margin-left: 5px;
    margin-bottom: 2px;
    float: left;
}

.news {
    width: 23.75%; /* 342/1440 */
    height: 752px;
    float: left;
}

footer {
    width: 100%; /* 1440 */
    height: 100px;
    overflow: hidden;
}

footer p {
    float: left;
}