body {
    background: url("../Images/common/background.png");
    margin: 0;
}

#pageName {
    background-image: url(../Images/contacts/bg.png);
}

#mainDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 20.88541666666667%;
    margin-left: 4.557291666666667%;
    margin-right: 4.557291666666667%;
    margin-top: 50px;
}

.cardText {
    background: #E1CDBB;
    box-shadow: -20px 35px 7px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.cardText p {
    font-family: 'Kristi';
    font-style: italic;
    font-weight: 400;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
}