body {
    background: url("../Images/common/background.png");
    margin: 0;
}

#pageName {
    background-image: url(../Images/delivery/bg.png);
}

main div {
    width: 62.5%;
    margin: 50px auto;
}

main h2 {
    background: #E1CDBB;
    box-shadow: -20px 35px 7px rgba(0, 0, 0, 0.25);
    font-family: 'Inter';
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
}

main p {
    background: #E1CDBB;
    box-shadow: -20px 35px 7px rgba(0, 0, 0, 0.25);
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 34px;
    line-height: 42px;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
}