body {
    background: url("../Images/common/background.png");
    margin: 0;
}

#pageName {
    background-image: url(../Images/menu/bg.png);
}

#miniNav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#miniNav ul {
    width: 66.51041666666667%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

#miniNav ul li {
    margin: 10px 20px;
}

