.wrapper {
    width: 1380px;
    border: 1px solid red;
    margin: 0 auto;
}

header {
    width: 1300px;
    border: 1px solid greenyellow;
    margin: 0 auto;
}

aside {
    border: 1px solid blue;
}

.navigation {
    width: 200px;
    float: left;
}

main {
    width: 820px;
    border: 1px solid orange;
    float: left;
}

article {
    width: 400px;
    border: 1px solid purple;
}